<div style="margin: 0 16px">
  <div class="banner">
    <img
      alt="banner"
      class="banner-img"
      srcset="./img/banner-1024.jpg 1024w, ./img/banner-512.jpg 512w"
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <div id="logo-container">
    <img src="/img/unive-200.png" alt="Università di Venezia Ca' Foscari" />
    <img
      src="/img/vedph-200.png"
      alt="Venice Centre for Digital and Public Humanities"
    />
    <img src="/img/clarinit-200.png" alt="CLARIN Italy" />
    <img src="/img/ilc-200.png" alt="Istituto di Linguistica Computazionale" />
    <img src="/img/clarin-200.png" alt="CLARIN Knowledge Centre" />
    <img src="/img/biblissima-200.png" alt="Biblissima" />
    <img src="/img/pnrr-200.png" alt="Piano di ripresa e resilienza" />
    <img
      src="/img/miur-200.png"
      alt="Ministero dell'Istruzione, dell'Università e della Ricerca"
    />
    <img src="/img/italiadomani-200.png" alt="Italia domani" />
    <img src="/img/changes-200.png" alt="CHANGES" />
  </div>
</div>
